body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  color: #34495e;
  font-size: 1.25rem;
}
a {
  text-decoration: none;
}
a:visited {
  color: #ecf0f1;
}
a:hover {
  color: #3498DB;
}

header {
  padding: 20px;
  width: 100%;
  background-color: #2c3e50;
}
section {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
article {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
li {
  font-size: 4rem;
}

/* CLASSES */

/* NAVIGATION */
.navBar {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #ecf0f1;
}
.logo-title {
  font-weight: bold;
}
.logo-text {
  font-style: italic;
}
/* HERO SECTION */
.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  min-height: 300px;
  max-height: 600px ;
}
.hero-section h1,.hero-section p {
  color: #ffffff;
}
.hero-home {
background-image: url(public/home-hero.png);
}
.hero-japan {
background-image: url(public/japan-hero.png);
}
.hero-italy {
background-image: url(public/italy-hero.png);
}
.hero-argentina {
background-image: url(public/argentina-hero.png);
}
/* MAIN CONTENT */
.main-content {
  max-width: 100%;
  padding: 20px;
}
.locations-parent {
  display: flex;
  padding: 20px;
}
.locations-children {
  display: flex;
  text-align: center;
  gap: 4rem;
}
.japan-parent {
  display: flex;
  text-align: left;
  padding: 40px 20px;
}
.japan-children {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: left;
  max-width: 1200px;
}
.japan-section {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: left;
  text-align: left;
  flex-direction: column;
}

